<!-- Tom Lai -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @user.name %>,</h2>
    <h1>Click <%= link_to 'here', @url%> to reset your password! </h1>
    <p>Thanks for joining <%= link_to 'Housemates', login_url, method: :get %> and have a great day!</p>
  </body>
</html>