// David Tien

.new-announcement {
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 10px;

  form {
    margin: 10px 5px 10px 10px;

    .form-group {
      width: 100%;

      textarea {
        width: 92%;
        margin-right: 5px;
        resize: vertical;
      }
    }
  }
}

.announcement {
  border: solid #fafafa 2px;
  border-radius: 4px;
  padding: 10px 0px;
  margin-bottom: 8px;

  &.hub {
    padding: 10px;
  }

  .name {
    font-size: 14px;
    font-weight: 900;
  }

  .timeago {
    font-size: 10px;
    color: gray;
  }

  .delete-container {
    float: right;

    &:hover {
      .delete-announcement {
        color: #d9534f;
      }

      .delete-text {
        display: inline;
        text-decoration: none;
      }
    }

    .delete-announcement {
      color: gray;
      padding: 0;
    }

    .delete-text {
      font-size: 10px;
      color: #d9534f;
      display: none;
    }
  }

  .announcement-text {
    margin-top: 8px;
    font-size: 20px;
    word-wrap: break-word;

    &.hub {
      font-size: 17px;
    }
  }

  textarea {
    width: calc(100% - 30px);
    margin: 20px 15px;
  }
}
