/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(content-box);
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-background {
  background-color: #f7f7f7;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 15px;
  border-radius: 15px;
}

.header {
  text-align: center;
}

.signup, .login {
  width: 75%;
  margin: 0 auto;

  input {
    padding: 6px 0px;
  }
}

.alt-option {
  text-align: right;
  margin-top: 7px;
}
