// Andre Haas

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}

.gravatar-sm {
	float: left;
	margin: 2px 3px 2px 0px;
	border-radius: 3px;
}

.gravatar_edit {
  margin-top: 15px;
}
