// David Tien, Andre Haas

.household-members .name {
  font-size: 17px;
}

.invite-form {
  float: right;
  text-align: center;
  margin-top: 15px;
  width: 67%;

  .form-group {
    width: 75%;

    #invite_email {
      width: 100%
    }
  }
}

.invite {
  font-size: 17px;
  margin-top: 15px;

  small {
    font-size: 10px;
    color: gray;
  }
}
