<<<<<<< HEAD
<!-- Kevin Sung -->
TEST SHOW INVITES VIEW

<div class="row">
  <%= form_for(current_user.household.invites) do |invite| %>
    <button type="button">Invite</button>
  <% end %>
</div>

<%= link_to "Create a household", households_create_path %>
=======
<html>
  <body>
  <h1> Invitations </h1>
    <div class="row">
      <div class="form-background"
      <div class = "col-md-6 col-md-offset-3">
          <ul class = "pending-invites">
            <li class = "household"> Davis House
              <button class= "btn btn-primary">Accept</button>
            </li>
            <li class = "household"> Euclid Home
              <button class= "btn btn-primary">Accept</button>
            </li>
          </ul>
        <h2> -OR- </h2>
        <div class = "household">
          <%= button_to "Create New Household", create_household_path, :class => "btn btn-primary btn-household", :method => :get %>
        </div>
      </div>
      </div>
    </div>
  </body> 
</html>
>>>>>>> aa05abc... Some css code
